
@{
    ViewBag.Title = "AddCar";

}

<h2>AddCar</h2>



<form  method="post">

    Number <input type="text" name="num" value="" /><br />
    Color <input type="text" name="color" value="" /><br />
    Model <input type="text" name="model" value="" /><br />
    Manfacture<input type="text" name="manfacture" value="" /><br />

    <input type="submit" value="Save" />
</form>