<!DOCTYPE html>
<html>
<head>
    <title></title>
    <style>
        .box{
            display:flex;
            justify-content:center;
            align-content:center;
        }
        .one {
            flex: 1;
            
        }

        .two {
            flex: 1;
            border: 1px solid black;
            text-align: center;
            justify-content:center;
            align-content: center;
        }
    
    </style>
</head>
<body>
    <div class="box">
    <div class="one" style="background-color:azure">
        <form method="post">
            <p>Choose a background image</p>
            <select name="bg-lst">
                <option value="0.jpg">0</option>
                <option value="1.jpg">1</option>
                <option value="2.jpg">2</option>
                <option value="3.jpg">3</option>
                <option value="4.jpg">4</option>
                <option value="5.jpg">5</option>
                <option value="6.jpg">6</option>
                <option value="7.jpg">7</option>
                <option value="8.jpg">8</option>
                <option value="9.jpg">9</option>
                <option value="10.jpg">10</option>
                <option value="11.jpg">11</option>
            </select><br />
            <p>Choose a font color</p>
            <select name="clr-lst">
                <option value="purple">purple</option>
                <option value="black">black</option>
                <option value="hotPink">hotPink</option>
                <option value="gray">gray</option>
                <option value="teal">teal</option>
            </select><br /><br /> <hr />
            <p>Choose a greeting type</p>
            <input type="radio" name="greeting-type" value="Happy BirthDay"/><label>BirthDay</label><br />
            <input type="radio" name="greeting-type" value="Get well soon" /><label>Get well soon</label><br />
            <input type="radio" name="greeting-type" value="Happy valentine Day"/><label>valentine</label><br />
            <input type="radio" name="greeting-type" value="congratulation" /><label>congrats</label><br /><br />

            <input type="checkbox" name="add" /><label>Add the picture</label><br />
            <p>Enter the greeting message below</p>
            <textarea name="txt2"></textarea><br />

            <input type="submit" value="preview" />
        </form>
        @{
            var clr= "color:"+@Request.Form["clr-lst"];
            var srcc = "backgrounds/" + @Request.Form["bg-lst"];
            var txt1 = Request.Form["greeting-type"];
            var srcc2=" ";
            if (txt1 == "Happy BirthDay") srcc2 = "images/bd.jpg";
            else if (txt1 == "Get well soon") srcc2 = "images/well.gif";
            else if (txt1== "Happy valentine Day")srcc2= "images/val.bmp" ;
            else srcc2 = "images/congrats.gif";
            var txt2= Request.Form["txt2"];


        }
    </div>
    <div class="two" style="background-image: url(@srcc)">
        <h1 style=@clr >@txt1</h1><br /><br />
        @if (Request.Form["add"] == "on")
            {
                <img src=@srcc2 />
            }
        <h1 style=@clr >@txt2</h1>

    </div>
    </div>
</body>
</html>
